h1 {
  color: red;
  }

ul {
  list-style-type: none;
}

li {
  padding:10px;
  margin: 5px;

  //background-color: grey;
  text-decoration: none;
}

input[type='checkbox'] {
  margin-right: 25px;
}

.removeButton{
  margin-left: 25px;
  background-image: url(trashcan.png);
  background-size: 100% 100%;
}